<%- include('../partials/header') %>

    <section id="show-page">
        <div>Airline: </div>
        <div>
            <%= flight.airline %>
        </div>
        <div>Airport: </div>
        <div>
            <%= flight.airport %>
        </div>
        <div>Flight #: </div>
        <div>
            <%= flight.flightNo %>
        </div>
        <div>Departures: </div>
        <div>
            <%= flight.departs.toLocaleDateString() %>
        </div>
        
        <!-- start list list -->
        <!-- <div>Destination List:</div>
        <ul>
            <%- flight.list.map(d =>
            `<li>${d.destination} <small>${d.airport} ${d.arrival.toLocaleDateString()}</small></li>`
            ).join('') %>
        </ul> -->
        <!-- end list list -->
</section>
<!-- add to list form below this comment
<form id="add-dest-to-list" action="/flights/<%= flight._id %>/destinations" method="POST">
  <select name="destinationId">
    <%- destinations.map(d =>
      `<option value="${d._id}">${d.airport} ${d.arrival.toLocaleDateString()}</option>`
    ).join('') %>
  </select>
  <button type="submit">Add to Destination List</button>
</form>

<br><br>
<h2>Tickets</h2>
<form id="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" min="0" name="price" >
  <label>Flight:</label>
  <input { type: Schema.Types.ObjectId, ref: "Flight" } >
  </select>
  <input type="submit" value="New Ticket">
</form>

    <%- include('../partials/footer') %> -->